<form-field class="phone-field" [formGroup]="form">
  <span form-label-prefix>Phone number</span>
  <input rs-input type="tel" [placeholder]="placeholder()" formControlName="phoneNumber">
  <rs-select form-prefix [label]="regionLabel" formControlName="regionCode">
    @for (region of supportedRegions(); track region) {
      <rs-option [value]="region.key">
        <img
          class="phone-field__option-image"
          width="20"
          height="14"
          [attr.src]="`https://purecatamphetamine.github.io/country-flag-icons/1x1/${ region.key }.svg`"
          [attr.alt]="`${ region.key } Flag`"
        />
        <span>{{ region.label }}</span>
      </rs-option>
    }
  </rs-select>
</form-field>

<ng-template #regionLabel>
  <img
    class="phone-field__option-image"
    width="20"
    height="14"
    [attr.src]="`https://purecatamphetamine.github.io/country-flag-icons/1x1/${ regionCode }.svg`"
    [attr.alt]="`${ regionCode } Flag`"
  />
  <span>{{ `+${ countryCode() }` }}</span>
</ng-template>
