$button-color-kit: (
  primary: (
    accent: var(--primary-color),
    secondary: var(--neutral-0-color),
  ),
  warning: (
    accent: var(--error-color),
    secondary: var(--neutral-0-color),
  ),
  light: (
    accent: var(--neutral-100-color),
    secondary: var(--neutral-0-color),
  ),
  gray: (
    accent: var(--neutral-50-color),
    secondary: var(--neutral-0-color),
  ),
  dark: (
    accent: var(--neutral-0-color),
    secondary: var(--neutral-50-color),
  ),
  select: (
    accent: var(--neutral-30-color),
    secondary: var(--neutral-50-color),
  ),
)
