@use '_mixins/rem' as *;
@use "button-color-kit" as *;

.rs-button {
  --rs-button-icon-size: 40px;
  min-height: var(--rs-button-height, 40px);
  min-width: var(--rs-button-height, 40px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-unit) * 2);

  background-color: transparent;
  border: none;
  box-sizing: border-box;

  color: inherit;
  font-family: var(--font-base);

  border-radius: var(--rs-button-border-radius, var(--radius-md));
  padding: 0 var(--rs-button-padding-x, calc(var(--spacing-unit) * 3));
  font-size: var(--rs-button-font-size, 14px);
  font-weight: var(--rs-button-font-weight, 500);

  cursor: pointer;

  transition: background-color var(--transition-fast), color var(--transition-fast), border-color var(--transition-fast);

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
  }

  &.loading {
    pointer-events: none;
    opacity: 0.8;
  }

  &--xs {
    --rs-button-icon-size: 24px;
    --rs-button-border-radius: 50%;
    --rs-button-height: 24px;
    --rs-button-font-size: 14px;
  }

  &--sm {
    --rs-button-icon-size: 32px;
    --rs-button-border-radius: var(--radius-sm);
    --rs-button-height: 32px;
    --rs-button-font-size: 14px;
  }

  &--lg {
    --rs-button-icon-size: 48px;
    --rs-button-border-radius: var(--radius-lg);
    --rs-button-height: 48px;
    --rs-button-font-size: 18px;
  }

  @each $kitName, $kit in $button-color-kit {
    &--#{ "" + $kitName } {
      @each $colorName, $color in $kit {
        --button-#{ $colorName }-color: #{ $color };
      }
    }
  }
}

.rs-button.flat {
  background-color: transparent;
  color: var(--button-accent-color);

  &:hover {
    color: color-mix(in srgb, var(--neutral-50-color) 0%, var(--neutral-100-color));
    background-color: color-mix(in srgb, var(--button-accent-color) 10%, transparent);
  }
}

.rs-button.filled {
  background-color: var(--button-accent-color);
  color: var(--button-secondary-color);

  &.rs-button--light,
  &.rs-button--select {
    &:hover,
    &.active {
      background-color: color-mix(in srgb, var(--button-accent-color) 90%, black);
    }
  }

  &:hover,
  &.active {
    background-color: color-mix(in srgb, var(--button-accent-color) 80%, white);
  }
}

.rs-button.outlined {
  border: 2px solid var(--button-accent-color);
  color: var(--button-accent-color);

  &:hover {
    background-color: color-mix(in srgb, var(--button-accent-color) 10%, transparent);
  }
}

.rs-button.icon {
  padding: 0;
  width: var(--rs-button-icon-size) !important;
  height: var(--rs-button-icon-size) !important;

  mat-icon {
    width: calc(var(--rs-button-icon-size) * 0.5);
    height: calc(var(--rs-button-icon-size) * 0.5);
    font-size: calc(var(--rs-button-icon-size) * 0.5);
  }
}
