@use "_mixins/rem" as *;

:host {
  --items-padding: 2px;
  --border-radius: var(--radius-lg);
}

.rs-switch {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--label-left {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: var(--neutral-100-color);
  }

  &__items {
    position: relative;
    z-index: 0;

    display: grid;
    grid-template-columns: repeat(var(--items-count), 1fr);
    gap: 4px;

    padding: var(--items-padding);

    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    border-radius: var(--border-radius);

    --item-width: calc((100% - var(--items-padding) * 2 ) / var(--items-count));
  }

  &__item {
    padding: 10px 12px;

    border-radius: var(--border-radius);

    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: center;

    cursor: pointer;

    &:hover {
      color: var(--neutral-100-color);
    }

    &.selected {
      color: var(--neutral-100-color);
    }

    input {
      display: none;
    }
  }

  &__selected-item-background {
    position: absolute;
    z-index: -1;

    top: var(--items-padding);
    bottom: var(--items-padding);
    width: var(--item-width);
    left: calc(var(--items-padding) + var(--item-width) * var(--active-item-index));

    border-radius: calc(var(--border-radius) - 2px);

    background-color: var(--section-color);
    transition: left var(--transition-fast);
  }
}
