<div class="sign-in" [formGroup]="form">
  <div class="sign-in__content">
    <form-field [hideValidation]="true">
      <mat-icon form-prefix class="material-symbols-outlined icon icon--sm" fontIcon="alternate_email"></mat-icon>
      <span form-label-prefix>Email</span>
      <input rs-input type="email" autocomplete="off" placeholder="name@company.com" formControlName="email">
    </form-field>
    <form-field [hideValidation]="true">
      <mat-icon form-prefix class="material-symbols-outlined icon icon--sm" fontIcon="key"></mat-icon>
      <span form-label-prefix>Password</span>
      <a routerLink="/authorization/reset-password" form-label-suffix="link">Forgot password?</a>
      <input rs-input type="password" autocomplete="off" placeholder="***********" formControlName="password">
    </form-field>
    <rs-checkbox formControlName="remember">Remember me</rs-checkbox>
    <button type="button" rs-button-filled size="sm" [disabled]="form.invalid">Sign In</button>
  </div>
  <div class="sign-in__create-account">
    <span>Dont have an account? <a routerLink="/authorization/sign-up">Register</a></span>
  </div>
</div>
