@use "_mixins/rem" as *;

.sign-in {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(16px);

    padding: rem(32px);
  }

  &__create-account {
    gap: rem(16px);

    padding: 14px rem(32px);

    background-color: var(--border-color);

    font-size: 13px;
    text-align: center;

    a {
      color: var(--primary-color);

      &:hover {
        color: color-mix(in srgb, var(--primary-color) 85%, transparent);
      }
    }
  }
}
