@use "_mixins/rem" as *;

.auth-type-switcher {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 4px;

  background-color: var(--border-color);
  border-radius: 8px;

  &__item {
    padding: 6px 8px;

    flex-grow: 1;
    border-radius: 6px;

    color: var(--neutral-50-color);
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: var(--section-color);
    }

    &.active {
      background-color: var(--section-color);
      color: var(--neutral-100-color);
    }
  }
}
