@use "_mixins/rem" as *;

.profile {
  display: grid;
  grid-gap: calc(var(--spacing-unit) * 6);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-areas:
    'header header header header'
    'user edit-fields edit-fields edit-fields'
    'bookings bookings bookings bookings';

  &__header {
    grid-area: header;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);

    padding: calc(var(--spacing-unit) * 6);

    background-color: var(--card-color);

    border: 1px solid var(--border-color);
    border-radius: var(--radius-xl);
    box-sizing: border-box;
  }

  &__block-header {

  }

  &__block-title {

  }

  &__block-content {
    flex-grow: 1;
  }

  &__user {
    grid-area: user;
  }

  &__edit-fields {
    grid-area: edit-fields;
  }

  &__bookings {
    grid-area: bookings;
  }
}

.user {
  gap: 0;

  & > * {
    padding: calc(var(--spacing-unit) * 4) 0;
    border-bottom: 1px solid var(--border-color);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--spacing-unit);
  }

  &__fullname {

  }

  &__email {

  }

  &__avatar {
    position: relative;

    width: 84px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: calc(var(--spacing-unit) * 2);

    border-radius: 50%;
    background-color: var(--neutral-10-color);
  }

  &__avatar-change-button {
    --rs-button-border-radius: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 4);
  }

  &__metadata-item {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) * 2);

    font-size: 14px;
    font-weight: 500;

    span {
      color: var(--neutral-100-color)
    }
  }

  &__actions {

  }
}

.edit-fields {
  &__content,
  &__content-column {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 4);
  }

  &__content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: calc(var(--spacing-unit) * 4);
  }

  &__content-column {
    &--full-width {
      grid-column: 1/3;
    }
  }

  &__content-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
  }

  &__content-action {
    min-width: 180px;
  }
}
