@use "_mixins/rem" as *;

.rs-select {
  &__button {
    font-weight: 600;
    color: var(--neutral-100-color);

    * {
      pointer-events: none;
    }
  }

  &__options {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);

    margin: var(--spacing-unit) 0;
    padding: var(--spacing-unit);

    border-radius: var(--radius-lg);
    background-color: var(--neutral-30-color);
  }
}
