@use "_mixins/rem" as *;

.rs-select {
  &__button {
    * {
      pointer-events: none;
    }
  }

  &__options {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;

    margin: 4px 0;
    padding: 4px;

    border-radius: 8px;
    background-color: var(--border-color);
  }
}
