:host {
  display: block;
  padding: 4px;
}

.rs-tooltip {
  padding: 10px 12px;

  color: var(--neutral-100-color);
  background-color: var(--border-color);
  box-shadow: 4px 4px 8px var(--section-color);

  border-radius: 6px;
  box-sizing: border-box;
}
