:host {
  display: block;
  padding: 4px;
}

.rs-tooltip {
  padding: 10px 12px;

  color: var(--neutral-100-color);
  background-color: var(--border-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  border-radius: var(--radius-md);
  box-sizing: border-box;
}
