:host {
  display: block;
  padding: var(--spacing-unit);
}

.rs-tooltip {
  padding: calc(var(--spacing-unit) * 2.5) calc(var(--spacing-unit) * 3);

  color: var(--neutral-100-color);
  background-color: var(--border-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  border-radius: var(--radius-md);
  box-sizing: border-box;
}
