<div class="sign-up">
  <div class="sign-up__header">
    @switch (currentStep()) {
      @case (steps.USER) {
        <h6 class="sign-up__title">User registration</h6>
        <div class="sign-up__subtitle">Create a new user to continue.</div>
      }
      @case (steps.COMPANY) {
        <h6 class="sign-up__title">Company registration</h6>
        <div class="sign-up__subtitle">Create a new company to continue.</div>
      }
      @case (steps.CONFIRM_EMAIL) {
        <h6 class="sign-up__title">Confirm email</h6>
        <div class="sign-up__subtitle">We have sent a confirmation code to <span>{{ data()['user']['email'] }}</span></div>
      }
      @case (steps.FINISH) {
        <h6 class="sign-up__title">Account created successfully!</h6>
        <div class="sign-up__subtitle">Your account has been successfully created and confirmed.</div>
      }
    }
  </div>
  <div class="sign-up__wrapper">
    @switch (currentStep()) {
      @case (steps.USER) {
        <user-form
          [data]="data()"
          [loading]="loading()"
          (continueUser)="changeStep(steps.CONFIRM_EMAIL, $event)"
          (continueCompany)="changeStep(steps.COMPANY, $event)"
        ></user-form>
      }
      @case (steps.COMPANY) {
        <company-form
          [data]="data()"
          [loading]="loading()"
          (back)="changeStep(steps.USER, $event)"
          (continue)="changeStep(steps.CONFIRM_EMAIL, $event)"
        ></company-form>
      }
      @case (steps.CONFIRM_EMAIL) {
        <confirm-email-form (submit)="onFinish($event)" [loading]="loading()"></confirm-email-form>
      }
      @case (steps.FINISH) {
        <sign-up-finish></sign-up-finish>
      }
    }
  </div>
  <div class="sign-up__have-account">
    <span>Already have an account? <a routerLink="/authorization/sign-in">Log In</a></span>
  </div>
</div>
