@use "_mixins/rem" as *;

.sign-up {
  display: flex;
  flex-direction: column;

  &__header {
    padding: rem(32px);
    background-color: var(--border-color);
    text-align: left;
    border-radius: rem(16px) rem(16px) 0 0;
  }

  &__title {
    color: var(--neutral-100-color);
    font-weight: 600;
  }

  &__subtitle {
    font-size: 14px;
  }

  &__wrapper {
    display: flex;
  }

  &__content {
    position: relative;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    gap: rem(16px);

    padding: rem(32px);
    box-sizing: border-box;

    p {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;

    margin-top: auto;

    &--column {
      flex-direction: column;
    }
  }

  &__button {
    &--submit {
      flex-grow: 1;
    }
  }

  &__have-account {
    display: flex;
    align-items: center;
    gap: rem(16px);

    padding: 14px rem(32px);

    background-color: var(--border-color);
    border-radius: 0 0 rem(16px) rem(16px);

    font-size: 13px;

    &:before,
    &:after {
      display: block;
      content: '';
      flex-grow: 1;
      height: 1px;
      background-color: var(--border-color);
    }

    a {
      color: var(--primary-color);

      &:hover {
        color: color-mix(in srgb, var(--primary-color) 85%, transparent);
      }
    }
  }

  &__resend {
    font-size: 14px;
    font-variant-numeric: tabular-nums;

    span {
      color: var(--primary-color);
    }
  }
}

.form-enter {
  animation: fadeIn 150ms ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
