@use "_mixins/rem" as *;

.sign-up {
  &__wrapper {
    display: flex;
  }
}

.form-enter {
  animation: fadeIn var(--transition-fast) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
