@mixin media-breakpoint-down($name, $breakpoints: $container-breakpoints) {
  $max: breakpoint-max($name, $breakpoints) + 1;
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-up($name, $breakpoints: $container-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@function breakpoint-max($name, $breakpoints: $container-breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max > 0, $max - 0.02, null);
}

@function breakpoint-min($name, $breakpoints: $container-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-infix($name, $breakpoints: $container-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, '', '-#{$name}');
}

@function reverse($list) {
  $result: ();

  @for $i from length($list) * -1 through -1 {
    $result: append($result, nth($list, abs($i)));
  }

  @return $result;
}
