@mixin font-face($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src: url($furl) format('woff2')
  }
}
