<ng-container *transloco="let t; prefix: 'authorization'">
  <div class="confirm-email__resend">
    <span>{{ t('confirm.check-spam') }}</span>
    @if (!resendActive()) {
      <span [innerHTML]="t('confirm.timer', { timer: timer() })"></span>
    }.
  </div>
  <div class="auth-content__buttons auth-content__buttons--column">
    <button
      rs-button-outlined
      type="button"
      class="auth-content__button auth-content__button--submit"
      [loading]="resendLoading()"
      [disabled]="!resendActive()"
      (click)="resendConfirmation()"
    >{{ t('buttons.resend-code') }}
    </button>
  </div>
</ng-container>
