@use "_mixins/rem" as *;

.auth-layout {
  position: relative;
  min-height: 100dvh;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  padding: 16px;

  &:before {
    position: absolute;
    z-index: -1;
    inset: 0;
    content: '';
    background-color: color-mix(in srgb, var(--border-color) 30%, transparent);
  }

  &__wrapper {
    width: 100%;
    max-width: min(100%, 460px);

    display: flex;
    flex-direction: column;

    gap: rem(24px);
  }

  &__language-switcher {
    display: flex;
    justify-content: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    text-align: center;
  }

  &__icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: var(--neutral-100-color)
  }

  &__title {
    font-size: rem(24px);
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;

    background-color: var(--section-color);
    border-radius: rem(16px);
  }
}

.auth-content {
  display: flex;
  flex-direction: column;

  &__header {
    padding: rem(32px);
    background-color: var(--border-color);
    text-align: left;
    border-radius: rem(16px) rem(16px) 0 0;
  }

  &__title {
    color: var(--neutral-100-color);
    font-weight: 600;
  }

  &__subtitle {
    font-size: 14px;

    span {
      color: var(--primary-color);
    }
  }

  &__content {
    position: relative;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    gap: rem(16px);

    padding: rem(32px);
    box-sizing: border-box;

    p {
      margin: 8px 0;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;

    margin-top: auto;

    &--column {
      flex-direction: column;
    }
  }

  &__button {
    &--submit {
      flex-grow: 1;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: rem(16px);

    padding: 14px rem(32px);

    background-color: var(--border-color);
    border-radius: 0 0 rem(16px) rem(16px);

    font-size: 13px;

    &:before,
    &:after {
      display: block;
      content: '';
      flex-grow: 1;
      height: 1px;
      background-color: var(--border-color);
    }

    a {
      color: var(--primary-color);

      &:hover {
        color: color-mix(in srgb, var(--primary-color) 85%, transparent);
      }
    }
  }
}
