<div class="auth-layout">
  <div class="auth-layout__wrapper">
    <div class="auth-layout__header">
      <div class="auth-layout__icon">
        <mat-icon class="material-symbols-outlined icon icon--lg" fontIcon="calendar_month"></mat-icon>
      </div>
      <h2 class="auth-layout__title">Welcome to RoomReserve</h2>
      <p class="auth-layout__subtitle">Streamline your meeting room bookings</p>
    </div>
    <div class="auth-layout__content-wrapper">
      <div class="auth-layout__content-header">
        <div class="auth-layout__content-title">Authentication</div>
        <div class="auth-layout__content-subtitle">Login or create a new account to continue.</div>
      </div>
      <div class="auth-layout__content-inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
