@use "_mixins/rem" as *;

.auth-layout {
  position: relative;
  min-height: 100dvh;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  padding: 16px;

  &:before {
    position: absolute;
    z-index: -1;
    inset: 0;
    content: '';
    background-color: color-mix(in srgb, var(--border-color) 30%, transparent);
  }

  &__wrapper {
    width: 100%;
    max-width: min(100%, 460px);

    display: flex;
    flex-direction: column;

    gap: rem(24px);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    text-align: center;
  }

  &__icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: var(--neutral-100-color)
  }

  &__title {
    font-size: rem(24px);
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;

    background-color: var(--section-color);
    border-radius: rem(16px);
  }
}
