.rs-option {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 10px;
  border-radius: var(--radius-md);

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  &:hover,
  &.active {
    color: var(--neutral-100-color);
    background-color: color-mix(in srgb, var(--neutral-30-color) 90%, black);
  }

  mat-icon {
    margin-left: auto;
    color: var(--primary-color);
  }
}
