<ng-container>
  <div class="sign-up__finish">
    <h6>What next?</h6>
    <ul>
      <li>Fill out your profile to receive personalized recommendations</li>
      <li>Explore the features of your account</li>
      <li>Start booking rooms right now</li>
    </ul>
  </div>
  <div class="sign-up__buttons sign-up__buttons--column">
    <button class="sign-up__button sign-up__button--submit" type="button" rs-button-outlined>Go to Profile</button>
    <button class="sign-up__button sign-up__button--submit" type="button" rs-button-filled>Go to Dashboard</button>
  </div>
</ng-container>
