<ng-container [formGroup]="form" *transloco="let t; prefix: 'authorization'">
  <form-field>
    <mat-icon form-prefix class="material-symbols-outlined icon icon--sm" fontIcon="key"></mat-icon>
    <span form-label-prefix>{{ t('fields.new-password.label') }}</span>
    <input rs-input type="password" autocomplete="off" placeholder="***********" formControlName="password">
  </form-field>
  <form-field>
    <mat-icon form-prefix class="material-symbols-outlined icon icon--sm" fontIcon="key"></mat-icon>
    <span form-label-prefix>{{ t('fields.confirm-password.label') }}</span>
    <input rs-input type="password" autocomplete="off" placeholder="***********" formControlName="confirmPassword">
  </form-field>
  <button
    rs-button-filled
    type="button"
    class="auth-content__button"
    [loading]="loading()"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >{{ t('buttons.change-password') }}</button>
</ng-container>
