@use "_mixins/rem" as *;

.toast-container {
  position: fixed;
  z-index: 2;
  overflow: hidden;

  max-width: min(100%, 420px);
  max-height: 100dvh;

  top: 0;
  right: 0;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: calc(var(--spacing-unit) * 2);

  margin-left: auto;
  box-sizing: border-box;
  padding: calc(var(--spacing-unit) * 3);

  &__item {
    max-width: 100%;

    display: flex;
    align-items: flex-start;
    gap: calc(var(--spacing-unit) * 2);

    padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 3) 8px 16px;
    border-radius: var(--radius-md);

    background-color: var(--toast-background-color);
    color: var(--toast-text-color);
    backdrop-filter: blur(12px);

    font-size: 14px;
    font-weight: 500;

    span {
      margin-top: calc(var(--spacing-unit) * 0.5);
    }

    &.success {
      --toast-background-color: var(--success-color);
      --toast-text-color: var(--neutral-0-color);
    }

    &.error {
      --toast-background-color: var(--error-color);
      --toast-text-color: var(--neutral-0-color);
    }

    &.pending {
      --toast-background-color: var(--warning-color);
      --toast-text-color: var(--neutral-0-color);

      .toast-container__item-icon mat-icon {
        transform-origin: center;
        animation: spin 1s infinite linear;
      }
    }
  }

  &__item-icon {
    display: flex;

    padding: var(--spacing-unit);

    border-radius: 50%;
    background-color: color-mix(in srgb, var(--toast-text-color) 10%, transparent);
  }
}

.fade-up {
  animation: fadeDown var(--transition-base) forwards reverse;
}

.fade-down {
  animation: fadeDown var(--transition-base) forwards;
}

@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-10px) }
  to { opacity: 1; transform: translateY(0) }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
