@use "_mixins/rem" as *;

.sidebar {
  height: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  background-color: var(--sidebar-color);

  border-right: 1px solid var(--border-color);

  &::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--neutral-50-color);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    visibility: hidden;
  }

  &__header {
    padding: calc(var(--spacing-unit) * 6);
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) * 2);
  }

  &__logo-icon {
    width: 32px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--neutral-0-color);
    background-color: var(--primary-color);
    border-radius: var(--radius-lg);
  }

  &__footer {
    margin-top: auto;
    padding: calc(var(--spacing-unit) * 6);

    & > * {
      padding: calc(var(--spacing-unit) * 4) 0;
      border-top: 1px solid var(--border-color);

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__user-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--spacing-unit) * 4);
  }

  &__user {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) * 2);
  }

  &__user-avatar {
    min-width: 40px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--neutral-30-color);
    border-radius: 50%;

    color: var(--neutral-100-color);
  }

  &__user-name {
    font-family: var(--font-title);
    font-size: 14px;
    color: var(--neutral-100-color);
  }

  &__user-actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-unit);
  }
}

.navigation {
  padding: calc(var(--spacing-unit) * 6);

  &__group {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);

    padding: calc(var(--spacing-unit) * 6) 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__group-title {
    font-size: 12px;
    font-family: var(--font-title);
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__group-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) * 3);

    padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 3);
    border-radius: var(--radius-lg);

    font-size: 14px;
    font-weight: 500;
    color: var(--neutral-60-color);

    &:hover,
    &.active {
      color: var(--neutral-100-color);
      background-color: var(--navigation-active-color);
    }
  }
}
