<aside class="sidebar" *transloco="let t; prefix: 'sidebar'">
  <div class="sidebar__header">
    <div class="sidebar__logo">
      <div class="sidebar__logo-icon">
        <mat-icon class="material-symbols-outlined" fontIcon="calendar_month"></mat-icon>
      </div>
      <h5>RoomReserve</h5>
    </div>
  </div>
  <nav class="navigation sidebar__navigation">
    @for (group of navigation; track group.title) {
      <div class="navigation__group sidebar__navigation-group">
        <div class="navigation__group-title">{{ t(group.title) }}</div>
        <div class="navigation__group-items">
          @for (item of group.items; track item.id) {
            <a [routerLink]="item.url" routerLinkActive="active" class="navigation__item">
              <mat-icon class="navigation__item-icon icon icon--sm material-symbols-outlined" [fontIcon]="item.icon"></mat-icon>
              <div class="navigation__item-title">{{ t(item.title) }}</div>
            </a>
          }
        </div>
      </div>
    }
  </nav>
  <div class="sidebar__footer">
    <div class="sidebar__language">
      <language-switcher></language-switcher>
    </div>
    <div class="sidebar__theme">
      <theme-switcher></theme-switcher>
    </div>
    <div class="sidebar__user-wrapper">
      <div class="sidebar__user">
        <div class="sidebar__user-avatar">
          <mat-icon class="material-symbols-outlined icon icon--sm" fontIcon="person"></mat-icon>
        </div>
        <div class="sidebar__user-name">Username</div>
      </div>
      <div class="sidebar__user-actions">
        <button rs-button rs-button-icon color="gray">
          <mat-icon class="material-symbols-outlined" fontIcon="settings"></mat-icon>
        </button>
        <button rs-button rs-button-icon color="warning">
          <mat-icon class="material-symbols-outlined" fontIcon="logout"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</aside>
