<div class="reset-password auth-content" *transloco="let t; prefix: 'authorization'">
  @switch (currentStep()) {
    @case (steps.EMAIL) {
      <div class="auth-content__header">
        <h6 class="auth-content__title">{{ t('reset-password.email-step.title') }}</h6>
        <div class="auth-content__subtitle">{{ t('reset-password.email-step.subtitle') }}</div>
      </div>
      <email-form (continue)="changeStep($event, steps.CONFIRM)"></email-form>
    }
    @case (steps.CONFIRM) {
      <div class="auth-content__header">
        <h6 class="auth-content__title">{{ t('confirm.title') }}</h6>
        <div class="auth-content__subtitle" [innerHTML]="t('confirm.subtitle', { email: email() ?? 'to your email' })"></div>
      </div>
      <confirm-email-form (submit)="changeStep($event, steps.PASSWORD)" type="reset"></confirm-email-form>
    }
    @case (steps.PASSWORD) {
      <div class="auth-content__header">
        <h6 class="auth-content__title">{{ t('reset-password.password-step.title') }}</h6>
        <div class="auth-content__subtitle">{{ t('reset-password.password-step.subtitle') }}</div>
      </div>
      <password-form [loading]="loading()" (submit)="onFinish()"></password-form>
    }
    @case (steps.FINISH) {
      <div class="auth-content__content">
        <div class="auth-content__finish">
          <h6>{{ t('reset-password.finish-step.title') }}</h6>
          <p>{{ t('reset-password.finish-step.log-in') }}</p>
          <p>{{ t('reset-password.finish-step.support') }}</p>
        </div>
        <div class="auth-content__buttons">
          <a routerLink="/authorization/sign-in" class="sign-up__button auth-content__button--submit" type="button" rs-button-filled>{{ t('buttons.log-in') }}</a>
        </div>
      </div>
    }
  }
  @if (currentStep() !== steps.FINISH) {
    <div class="auth-content__footer">
      <span>{{ t('reset-password.remember-password') }} <a routerLink="/authorization/sign-in">{{ t('reset-password.log-in') }}</a></span>
    </div>
  }
</div>
