@use "_mixins/rem" as *;

.section-header {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
  }

  &__title {
    color: var(--neutral-100-color);
    line-height: 1;
  }

  &__subtitle {
    font-size: 14px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) * 2);

    margin-left: auto;
  }
}
