@forward "config";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0";

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);

  color: var(--neutral-50-color);
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  --icon-size: 24px;

  width: var(--icon-size) !important;
  height: var(--icon-size) !important;
  font-size: var(--icon-size) !important;

  &--xs {
    --icon-size: 14px;
  }

  &--sm {
    --icon-size: 18px;
  }

  &--lg {
    --icon-size: 32px;
  }
}

input,
textarea {
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 0;

  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--neutral-100-color);

  outline: none;

  &:-webkit-autofill,
  &:-webkit-autofill::first-line,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--neutral-100-color);
    font-weight: 400;
    font-family: 'Manrope', sans-serif !important;
    transition: background-color 999999s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px 0;
  padding: 0 0 0 8px;
  list-style: none;

  li {
    gap: 4px;

    &:before {
      width: 4px;
      min-width: 4px;
      height: 4px;
      aspect-ratio: 1/1;

      display: inline-block;
      margin-right: 4px;

      content: '';
      border-radius: 50%;
      background-color: color-mix(in srgb, var(--neutral-50-color) 85%, transparent);
      vertical-align: middle;
    }
  }
}

textarea {
  resize: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  color: var(--neutral-100-color);
  font-family: 'Jakarta', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}
