$themes: (
  'dark': (
    primary: #3B82F6,

    neutral-100: #F8FAFC,
    neutral-50: #94A3B8,
    neutral-0: #0F172A,

    background: #0F1729,
    sidebar: #18181B,
    section: #0F1729,
    border: #1E293B,
    navigation-active: #27272A,

    error: #ff5959,
    warning: #e8c742,
    success: #09dc58
  ),
  'light': (
    primary: #3B82F6,

    neutral-100: #F8FAFC,
    neutral-50: #94A3B8,
    neutral-0: #0F172A,

    background: #0F1729,
    sidebar: #18181B,
    section: #0F1729,
    border: #1E293B,
    navigation-active: #27272A,

    error: #ff5959,
    warning: #e8c742,
    success: #09dc58
  )
)
